ErrorDocument 404 /error/404.html
ErrorDocument 403 /error/403.html
ErrorDocument 500 /error/500.html

RewriteEngine On
RewriteRule ^([^/]*)\.fn$ /index.php?b=$1 [L]
RewriteRule ^admin.base$ /command.php [L]
RewriteRule ^([^/]*)-([^/]*).base$ /read.php?b=$1&id=$2& [L]

RewriteRule ^b/([^/]*)$ /index.php?b=$1 [L]
RewriteRule ^r/([^/]*)$ /recent.php?page=$1 [L]
RewriteRule ^b/([^/]*)/([^/]*)$ /index.php?b=$1&page=$2 [L]
RewriteRule ^b/([^/]*)/([^/]*)/([^/]*)$ /read.php?b=$1&id=$3&page=$2 [L]

<IfModule mod_php5.c>
  php_value upload_max_filesize 3M
</IfModule>	
Order allow,deny
Allow from all
Deny from 195.154.*.*
Deny from 62.210.*.*
Deny from 37.115.*.*