/* 레이아웃 */
.nav-bar {
width: 39%;
float: left;
}
.nav-bar-side {
width: 60%;
}
.searchbox {
border: 1px solid gray;
padding-left: 0px;
padding-right: 1px;
width: 100%;

}
.fnbottom {
background-color: #5993d6;
border-top: 1px solid #143040;
border-bottom: 1px solid #143040;
color: #fff;
font-weight: bold;
padding-bottom: 1%;
padding-top: 1%;
padding-left: 0px;
padding-right: 0px;
}
.fntop {
background-color: #a8c8eb;
border-top: 1px solid #143040;
border-bottom: 1px solid #143040;
color: #fff;
font-weight: bold;
padding-bottom: 1%;
padding-top: 1%;
padding-left: 0px;
padding-right: 0px;
}
.writebutton {
	float: right;
	align-self: right;
}

/* 도구 */

#yeobaek {
	height: 10px;
}

.aligns {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    box-align: center;
}

.links { 
    color: #007bff;
    text-decoration: none;
}

a:visited { 
    text-decoration: none;
}

#searchbox:hover { 
    border: 2px inset #5993d6; 
  }

.page {
    border: solid #888 1px;
}